<table>
  <thead>
    <tr>
      <th>N.</th>
      <th>Nombre</th>
      <th>Dirección</th>
    </tr>
  </thead>

  <tbody>
    {{#each restaurants}}
      <tr>
        <td>{{@index}}</td>
        <td>{{nombre}}</td>
        <td>{{direccion}}</td>
        <td>
          <a href="/Restaurant/{{_id}}/{{../user._id}}">Ingresar</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>